$color_primary: rgba(51,77,80,255);
$color_secondary: rgba(76,98,94,255);
$color_assets_3: rgba(102,119,108,255);
$color_assets_4: rgba(127,139,123,255);
$color_assets_5: rgba(152,160,137,255);
$color_box: rgba(178,181,151,255);
$color_text: rgba(203,202,165,255);
$color_bg: rgba(221,221,210,255);
