@import '../../assets/styles/variables.scss';

.navbar{
    background-color: $color_secondary;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        width: 2%;
        img{
            padding: 10px 0;
        }
       
    }
    &__list{
        display: block;
        &-item{
            display: inline-block;
            padding-left: 77px;
            @media screen and (max-width: 992px){
                padding-left: 17px;
            }
            @media screen and (max-width: 600px){
                padding-left: 36px;
            }

            
        }

        
    }
}
